rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if the user is authenticated and is the owner of the data
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
      
      match /quests/{questId} {
        allow read, write: if isOwner(userId);
      }
      
      match /focus_sessions/{sessionId} {
        allow read, write: if isOwner(userId);
      }
      
      match /journal_entries/{entryId} {
        allow read, write: if isOwner(userId);
      }
      
      match /progress/{documentId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}
